@media only screen and (max-width: 1367px) and (min-width: 1280px) {
  .navmenu {
    width: 80% !important;
  }
  .navbtn {
    width: 40% !important;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .navmenu {
    width: 75% !important;
  }
  .navbtn {
    width: 30% !important;
  }
}

@media only screen and (max-width: 1022px) and (min-width: 768px) {
  .navbtn {
    width: 45% !important;
  }
}

@media only screen and (max-width: 766px) {
  .navbtn {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 639px) {
  .textone {
    display: none !important;
  }
}
